<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictive Analysis</title>
</head>

<body>
    <div style="color: blue">
        <form action="{{ url_for('predict_fraud') }}" method="post">
            <h2>Predictive Analysis</h2>

            <label for="claim_number">Claim Number:</label><br>
            <input id="claim_number" name="claim_number" type="text" required="required"><br>

            <label for="age_of_driver">Age of Driver:</label><br>
            <input id="age_of_driver" name="age_of_driver" type="text" required="required"><br>

            <label for="gender">Gender:</label><br>
            <input id="gender" name="gender" type="text" required="required"><br>

            <label for="marital_status">Marital Status:</label><br>
            <input id="marital_status" name="marital_status" type="text" required="required"><br>

            <label for="safty_rating">Safety Rating:</label><br>
            <input id="safty_rating" name="safty_rating" type="text" required="required"><br>

            <label for="annual_income">Annual Income:</label><br>
            <input id="annual_income" name="annual_income" type="text" required="required"><br>

            <label for="high_education_ind">High Education Indicator:</label><br>
            <input id="high_education_ind" name="high_education_ind" type="text" required="required"><br>

            <label for="address_change_ind">Address Change Indicator:</label><br>
            <input id="address_change_ind" name="address_change_ind" type="text" required="required"><br>

            <label for="living_status">Living Status:</label><br>
            <input id="living_status" name="living_status" type="text" required="required"><br>

            <label for="zip_code">Zip Code:</label><br>
            <input id="zip_code" name="zip_code" type="text" required="required"><br>

            <label for="claim_date">Claim Date:</label><br>
            <input id="claim_date" name="claim_date" type="text" required="required"><br>

            <label for="claim_day_of_week">Claim Day of Week:</label><br>
            <input id="claim_day_of_week" name="claim_day_of_week" type="text" required="required"><br>

            <label for="accident_site">Accident Site:</label><br>
            <input id="accident_site" name="accident_site" type="text" required="required"><br>

            <label for="past_num_of_claims">Past Number of Claims:</label><br>
            <input id="past_num_of_claims" name="past_num_of_claims" type="text" required="required"><br>

            <label for="witness_present_ind">Witness Present Indicator:</label><br>
            <input id="witness_present_ind" name="witness_present_ind" type="text" required="required"><br>

            <label for="liab_prct">Liability Percentage:</label><br>
            <input id="liab_prct" name="liab_prct" type="text" required="required"><br>

            <label for="channel">Channel:</label><br>
            <input id="channel" name="channel" type="text" required="required"><br>

            <label for="policy_report_filed_ind">Policy Report Filed Indicator:</label><br>
            <input id="policy_report_filed_ind" name="policy_report_filed_ind" type="text" required="required"><br>

            <label for="claim_est_payout">Claim Estimated Payout:</label><br>
            <input id="claim_est_payout" name="claim_est_payout" type="text" required="required"><br>

            <label for="age_of_vehicle">Age of Vehicle:</label><br>
            <input id="age_of_vehicle" name="age_of_vehicle" type="text" required="required"><br>

            <label for="vehicle_category">Vehicle Category:</label><br>
            <input id="vehicle_category" name="vehicle_category" type="text" required="required"><br>

            <label for="vehicle_price">Vehicle Price:</label><br>
            <input id="vehicle_price" name="vehicle_price" type="text" required="required"><br>

            <label for="vehicle_color">Vehicle Color:</label><br>
            <input id="vehicle_color" name="vehicle_color" type="text" required="required"><br>

            <label for="vehicle_weight">Vehicle Weight:</label><br>
            <input id="vehicle_weight" name="vehicle_weight" type="text" required="required"><br>

            <button id="sub" type="submit">Predict Fraud</button>
        </form>

        <br><br>
        <h3>{{ prediction }}</h3>
    </div>

    <style>
        body {
            background-color: lightslategray;
            text-align: center;
            padding: 0px;
        }

        #sub {
            width: 120px;
            height: 43px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
            cursor: pointer;
        }

        #sub:hover {
            background-color: darkcyan;
        }

        label {
            font-size: 18px;
            color: black;
        }

        input {
            border-radius: 14px;
            height: 25px;
            font-size: 20px;
            text-align: center;
            margin-bottom: 10px;
        }
    </style>
</body>

</html>
